/*.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px;
/* Incase of overlay problems just increase the min-height*/

.topimg{
  background-image: url('../imgs/woman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
}
